<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title><% if (siteInfo.title){ %><%= siteInfo.title %> <% } %>Style Guide</title>
		<script src="./index_files/resources/jquery.js"></script>
		<script src="./index_files/resources/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="./index_files/resources/bootstrap/css/bootstrap.css" />
		<script src="./index_files/resources/bootstrap/js/bootstrap.js"></script>
		<link rel="stylesheet" href="./index_files/resources/px2style/styles.css" />
		<script src="./index_files/resources/px2style/scripts.js"></script>
		<link rel="stylesheet" href="./index_files/resources/styleguide.css" />
		<script src="./index_files/resources/styleguide.js"></script>
	</head>
	<body>
		<header>
			<div class="theme-title">
				<h1><% if (siteInfo.title){ %><%= siteInfo.title %> <% } %>Style Guide</h1>
			</div>		
		</header>
		<div class="theme-main">
			<div class="contents">

<div class="module-content">
<% for (var pkgId in pkgList) { %>
<% catList = pkgList[pkgId].categories %>
<span id="<%= pkgList[pkgId].packageId %>"></span>
<h2><%= pkgList[pkgId].packageName %><small>(<%= pkgList[pkgId].packageId %>)</small></h2>

<% for (var catId in catList) { %>
<% modList = catList[catId].modules %>
<span id="<%= pkgList[pkgId].packageId %>:<%= catList[catId].categoryId %>"></span>
<h3><%= catList[catId].categoryName %><small>(<%= catList[catId].categoryId %>)</small></h3>

<% for (var modId in modList) { %>
<%# console.log(modList[modId]) %>
<div class="module-content__h4-wrap">
<div class="module-content__title-wrap">
<span id="<%= modList[modId].moduleId %>"></span>
<h4><% if(modList[modId].thumb){ %><img src="<%= modList[modId].thumb %>" alt="" class="module-content__module-thumb" /><% } %><%= modList[modId].moduleName %><small>(<%= modList[modId].moduleId %>)</small></h4>

	<div class="module-readme">
<%- modList[modId].readme %>
	</div>

</div>

<% for (var codingExampleIdx in modList[modId].codingExample) { %>
<div class="module-preview tabs">
<label class="tab_item" for="preview">Preview</label>
<div id="preview_content">
<iframe src="index_files/coding-example/<%= modList[modId].codingExample[codingExampleIdx].path %>"></iframe>
<pre><code><%= modList[modId].codingExample[codingExampleIdx].src %></code></pre>
</div>
</div>
<% } %>

<div class="module-src-codes">

	<ul class="tabs">
		<li id="tab1" class="tab_item active"><a href="#cont1_<%= pkgId %>_<%= catId %>_<%= modId %>">Template</a></li>
		<li id="tab2" class="tab_item"><a href="#cont2_<%= pkgId %>_<%= catId %>_<%= modId %>">Style Sheet</a></li>
		<li id="tab3" class="tab_item"><a href="#cont3_<%= pkgId %>_<%= catId %>_<%= modId %>">Java Script</a></li>
		<% if(modList[modId].finalizeJs.length){ %><li id="tab4" class="tab_item"><a href="#cont4_<%= pkgId %>_<%= catId %>_<%= modId %>">finalize.js</a></li><% } %>
		<% if(modList[modId].finalizePhp.length){ %><li id="tab5" class="tab_item"><a href="#cont5_<%= pkgId %>_<%= catId %>_<%= modId %>">finalize.php</a></li><% } %>
	</ul>

	<ul class="panels">
		<li id="cont1_<%= pkgId %>_<%= catId %>_<%= modId %>" class="panel active">
			<pre><code><%= modList[modId].template %></code></pre>
		</li>
		<li id="cont2_<%= pkgId %>_<%= catId %>_<%= modId %>" class="panel">
			<pre><code><%= modList[modId].css %></code></pre>
		</li>
		<li id="cont3_<%= pkgId %>_<%= catId %>_<%= modId %>" class="panel">
			<pre><code><%= modList[modId].js %></code></pre>
		</li>
		<li id="cont4_<%= pkgId %>_<%= catId %>_<%= modId %>" class="panel">
			<pre><code><%= modList[modId].finalizeJs %></code></pre>
		</li>
		<li id="cont5_<%= pkgId %>_<%= catId %>_<%= modId %>" class="panel">
			<pre><code><%= modList[modId].finalizePhp %></code></pre>
		</li>
	</ul>

</div>
</div>
<% } %>
<% } %>
<% } %>

	<div class="theme-counter">
		<p><span class="theme-counter__heading">Total:</span> <%= counter.count %></p>
		<ul>
		<% for (var pkgId in counter.packages) { %>
			<li><span class="theme-counter__heading"><%= counter.packages[pkgId].name %> (<%= counter.packages[pkgId].id %>):</span> <%= counter.packages[pkgId].count %>
				<ul>
				<% for (var categoryId in counter.packages[pkgId].categories) { %>
					<li><span class="theme-counter__heading"><%= counter.packages[pkgId].categories[categoryId].name %> (<%= counter.packages[pkgId].id %>:<%= counter.packages[pkgId].categories[categoryId].id %>):</span> <%= counter.packages[pkgId].categories[categoryId].count %>
					</li>
				<% } %>
				</ul>
			</li>
		<% } %>
		</ul>
	</div>

</div>


			</div>
		<!-- /.theme-main --></div>

		<div class="theme-sidebar" style="width: 25%;">
			<div class="theme-module-index">
				<ul>
				<% for (var pkgId in pkgList) { %>
					<% catList = pkgList[pkgId].categories %>
					<li><a href="#<%= pkgList[pkgId].packageId %>" class="pkg-name"><%= pkgList[pkgId].packageName %></a>
					<% if(Object.keys(catList).length){ %>
						<ul>
						<% for (var catId in catList) { %>
							<% modList = catList[catId].modules %>
							<li><a href="#<%= pkgList[pkgId].packageId %>:<%= catList[catId].categoryId %>"><%= catList[catId].categoryName %></a>

							<% if(Object.keys(modList).length){ %>
								<ul>
								<% for (var modId in modList) { %>
									<%# console.log(modList[modId]) %>
									<li><a href="#<%= modList[modId].moduleId %>"><%= modList[modId].moduleName %></a></li>
								<% } %>
								</ul>
							<% } %>
							</li>
						<% } %>
						</ul>
					<% } %>
					</li>
				<% } %>
				</ul>
			</div>
			<div class="theme-sidebar__toggle-btn">→</div>
		</div>


		<footer>
			<p><a href="./index_files/module_list.html">Module List</a>.</p>
			<p>Generated by broccoli-styleguide-generator.</p>
		</footer>
	</body>
</html>
